

.splash-container {
    text-align: center;
   
}

.splash-border {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: var(--cor-body);
    padding: 40px;
    border: 6px solid var(--cor-button);
    border-radius: 45px;
}

.splash-image {
    border-radius: 10px;
    width: 100%;
}
